@charset "UTF-8";

/* 共通部分
-----------------------------------------*/

html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "遊ゴシック Medium", "YuGothic",
    "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* HEADER
-----------------------------------------*/

.logo {
  width: 50px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 36px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #fff;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* HOME
-----------------------------------------*/

.home-content {
  text-align: center;
  margin-top: 10%;
  color: #fff;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: "Philosopher", serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* 大きな背景動画 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../video/main-bg.mp4);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}

/* ----- 背景用の動画ファイル ----- */
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  /* min-width: 100vh; */
  min-height: 100vh;
  z-index: -100;
  background: url("video/main-bg.mp4") no-repeat;
  background-size: cover;
}
/* ----- 背景の上に表示させたいコンテンツ ----- */
.header-title {
  position: relative; /*必ず必要*/
  z-index: 2; /*必ず必要*/
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

section .home-bg {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  background: url("../images/main-bg.jpg") no-repeat;
  background-size: cover;
  z-index: -1;
}

/* NEWS
-----------------------------------------*/

#news {
  background-image: url(../images/news-bg.jpg);
  height: 250px;
  margin-bottom: 40px;
  color: #fff;
}
#news .page-title {
  text-align: center;
}

/* BIOGRAPHY
-----------------------------------------*/

#biography {
  background-image: url(../images/main-bg.jpg);
  min-height: 100vh;
  color: #fff;
}
#biography .page-title {
  text-align: center;
}

/* FILM
-----------------------------------------*/

#film {
  background-image: url(../images/film-bg.jpg);
  height: 250;
  color: #fff;
}
.film-content {
  max-width: 560px;
  margin-top: 10%;
}
.film-content .page-title {
  text-align: center;
}
.film-content p {
  font-size: 1.125rem;
  margin: 0 10px 0 0;
  text-align: center;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6%;
  margin-bottom: 50px;
  padding: 0 0 0 0;
}

/* MUSIC
-----------------------------------------*/

#music {
  background-image: url(../images/music-bg.jpg);
  height: 250;
  color: #fff;
}
.music-content {
  max-width: 560px;
  margin-top: 10%;
}
.music-content .page-title {
  text-align: center;
}
.music-content p {
  font-size: 1.125rem;
  margin: 0 10px 0 0;
  text-align: center;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6%;
  margin-bottom: 50px;
  padding: 0 0 0 0;
}

.big-box {
  grid-column: 1 / 3;
}

/* ART
-----------------------------------------*/

#art {
  background-image: url(../images/art-bg.jpg);
  height: 250;
  color: #fff;
}
.art-content {
  max-width: 560px;
  margin-top: 10%;
}
.art-content .page-title {
  text-align: center;
}
.art-content p {
  font-size: 1.125rem;
  margin: 0 10px 0 0;
  text-align: center;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6%;
  margin-bottom: 50px;
  padding: 0 0 0 0;
}

.big-box {
  grid-column: 1 / 3;
}

/* RADIO
-----------------------------------------*/

#radio {
  background-image: url(../images/radio-bg.jpg);
  height: 250;
  color: #fff;
}
.radio-content {
  max-width: 560px;
  margin-top: 10%;
}
.radio-content .page-title {
  text-align: center;
}
.radio-content p {
  font-size: 1.125rem;
  margin: 0 10px 0 0;
  text-align: center;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6%;
  margin-bottom: 50px;
  padding: 0 0 0 0;
}

/* LINE STAMP
-----------------------------------------*/

#lineStamp {
  background-image: url(../images/lineStamp-bg.jpg);
  height: 250;
}
.lineStamp-content {
  max-width: 560px;
  margin-top: 10%;
}
.lineStamp-content .page-title {
  text-align: center;
}
.lineStamp-content p {
  font-size: 1.125rem;
  margin: 0 10px 0 0;
  text-align: center;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6%;
  margin-bottom: 50px;
  padding: 0 0 0 0;
}

/* フッター
-----------------------------------------*/

footer {
  background: #432;
  text-align: center;
  padding: 0.875rem;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* 記事部分 */
article {
  width: 74%;
}

/* サイドバー */
aside {
  width: 22%;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}

.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title,
.post-cat {
  margin-left: 120px;
}

.sub-title {
  font-size: 2rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

aside p {
  padding: 12px 10px;
}

.sub-content {
  margin-bottom: 60px;
  list-style: none;
}

.sub-content li {
  border-bottom: 1px #ddd solid;
}

.sub-content a {
  color: #432;
  padding: 10px;
  display: black;
}

.sub-content a:hover {
  color: #0bd;
}

/* CONTACT
-----------------------------------------*/

#contact {
  background-image: url(../images/contact-bg.jpg);
  min-height: 100vh;
  color: #fff;
}

/* フォーム */

form div {
  margin-bottom: 14px;
}

label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* 地図 */
#location {
  padding: 4% 0;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}

/* SNS */
#sns {
  padding: 4% 0;
}

#sns .wrapper {
  display: flex;
  justify-content: space-between;
}
#sns .sub-content {
  margin-bottom: 30px;
}
.sns-box {
  width: 100%;
}

/* モバイル版
-----------------------------------------*/

@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  /* HEADER */
  .main-nav {
    font-size: 1 rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }

  /* HOME */
  .home-content {
    margin-top: 20%;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }

  /* NEWS */
  .news-contents {
    flex-direction: column;
  }
  article,
  aside {
    width: 100%;
  }

  #news .page-title {
    margin-top: 30px;
  }

  aside {
    margin-top: 60px;
  }

  .post-info {
    margin-bottom: 30px;
  }

  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }

  .post-title {
    font-size: 1.375rem;
  }

  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }

  .post-title,
  .post-cat {
    margin-left: 80px;
  }

  /* FILM */
  .film-content {
    margin-top: 20%;
  }

  /* MUSIC */
  .film-content {
    margin-top: 20%;
  }

  .big-box {
    grid-column: auto;
    grid-row: auto;
  }

  .big-box img {
    height: 100%;
  }

  /* CONTACT */
  #contact .page-title {
    margin-top: 40px;
  }

  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 100%;
  }

  /* 地図 / SNS */
  #location .wrapper,
  #sns .wrapper {
    flex-direction: column;
  }
  .location-info,
  .location-map,
  .sns-box {
    width: 100%;
  }
  .sns-box {
    margin-bottom: 30px;
  }
}
